<!DOCTYPE html>
<html>
<head>

	{{ partial "head.html" . }}

</head>
<body>

	{{ partial "header.html" . }}

	{{ if and (isset .Site.Params "slider") (.Site.Params.slider.enable) }}
		{{ partial "slider.html" . }}
	{{ end }}

	{{ if and (isset .Site.Params "wrapper") (.Site.Params.wrapper.enable) }}
		{{ partial "wrapper.html" . }}
	{{ end }}

		<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2 class="text-uppercase"><font color=" #ffffff ">What do we do ?</font></h2>
      <p><font color=" #f3f3f3 ">
      	We believe in great ideas,aims to create awareness on FOSS and to promote its usage among the student community through technical programmes such as Hackathon, workshops, Project Competition, technical talks, seminars, free software demo. These technical programmes are based on Free and Open Source Softwares alone. FOSS Club encourages students to participate in various technical and professional activities  helps them to become a perfect corporate personality. It is a unique platform for students and technologists to share their technical and professional knowledge on free open source tools for the benefit of the society.
		</font>
	</p>

      	<a href="#" class="btn btn-main">View Upcoming Events</a>

    </div>
  </div>
</div>
</section>








<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2></h2>
          <p>

		  </p>

        </div>
      </div>
    </div>
  </div>
</section>



<section id="imgg">
		<div class="container">
		  <div class="row">
			<div class="col-md-12">
			  <div class="block">
				<h2></h2>
				<p>

				</p>

			  </div>
			</div>
		  </div>
		</div>
	  </section>


<section id="location" class="section location">
	<div class="shape shape-style-1 shape-default">
	   <span></span>
	   <span></span>
	   <span></span>
	   <span></span>
	   <span></span>
	   <span></span>
	 </div>
	   <div class="container">
		   <div class="row">
			   <div class="col-sm-3">
				   <h3 class="section-title"></h3>
				   <address class="lead text-default">
					   Vidya Academy of Science & Technology<br>Thalakottukara P.O., Kecheri, Thrissur - 680501, Kerala, India<br> Phone:+91 4885 287751<br> Email: fossers [at] vidyaacademy.ac.in</p>
				   </address>
			   </div>
			   <div class="col-sm-9">
				   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3921.390702240291!2d76.1425413!3d10.626725!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2664e7fe1daf242e!2sVidya+Academy+of+Science+and+Technology!5e0!3m2!1sen!2sin!4v1480242779618" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			   </div>
		   </div>
	   </div>
   </section>



<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
			<h2>Thank you for visiting</h2>
			<p>Let's get in touch on any of these platforms.</p><br><br>

			<li><a href="https://www.facebook.com/FOSSersVAST">Facebook</a></li>

			<li><a href="https://instagram.com/FOSSersVAST">Instagram</a></li>

            <li><a href="http://www.vidyaacademy.ac.in/">VAST</a></li>

            <li><a href="#">Contact us</a></li>

            <li><a href="#">Blog</a></li>

          </ul>
        </div>
        <p>

		</p>
      </div>
    </div>
  </div>
</footer>


<script data-no-instant>document.write('<script src="/livereload.js?mindelay=10"></' + 'script>')</script></body>
</html>
